// 📐 Контейнеры

.container {
	@include container;

	&--sm {
		max-width: $container-sm;
	}

	&--md {
		max-width: $container-md;
	}

	&--lg {
		max-width: $container-lg;
	}

	&--xl {
		max-width: $container-xl;
	}

	&--2xl {
		max-width: $container-2xl;
	}
}
