// 📦 Секции

.section {
	padding: $space-12 0;

	@include respond-to('md') {
		padding: $space-16 0;
	}

	@include respond-to('lg') {
		padding: $space-20 0;
	}

	&--hero {
		min-height: 100vh;
		@include center;
	}

	&--sm {
		padding: $space-8 0;

		@include respond-to('md') {
			padding: $space-12 0;
		}
	}

	&--lg {
		padding: $space-16 0;

		@include respond-to('md') {
			padding: $space-24 0;
		}
	}
}

// Заголовок секции
.section-title {
	margin-bottom: $space-8;
	text-align: center;

	@include respond-to('md') {
		margin-bottom: $space-12;
	}
}

// Подзаголовок секции
.section-subtitle {
	color: $gray;
	text-align: center;
	margin-bottom: $space-6;
	font-size: $text-lg;

	@include respond-to('md') {
		font-size: $text-xl;
	}
}
